<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*" Name="WixFolderShare" Language="1033" Version="1.0.0.0" Manufacturer="Someone" UpgradeCode="PUT-GUID-HERE">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"  />
    <MediaTemplate EmbedCab="yes" />
        
    <!--<UIRef Id="WixUI_Mondo" />--> <!-- Diabled main GUI -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Feature Id="ProductFeature" Title="WixFolderShare" Level="1" />
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Test Folder">

          <Component Feature="ProductFeature">

            <File Source="$(env.SystemRoot)\notepad.exe" />

            <util:User Id="Everyone" Name="Everyone" />

            <!-- Create Share with share permissions -->
            <util:FileShare Id="TestShare" Name="TestShareName" Description="This is a test share.">
              <util:FileSharePermission User="Everyone" GenericAll="yes"/>
            </util:FileShare>

            <!-- NTFS ACL permissions -->
            <CreateFolder>
              <util:PermissionEx User="Everyone" GenericAll="yes" />
            </CreateFolder>

          </Component>

      </Directory>
      </Directory>
    </Directory>

</Product>
</Wix>

