<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="WiXCustomDialog" Language="1033" Version="1.0.0.0"
           Manufacturer="test" UpgradeCode="PUT-GUID-HERE">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Binary Id="bannerbmp" SourceFile="Banner.bmp" />
    <Binary Id="imagebmp" SourceFile="Image.bmp" />

    <Property Id="BannerBitmap">bannerbmp</Property>
    <Property Id="ImageBitmap">imagebmp</Property>

    <UIRef Id="WixUI_MyMondo" />

    <Feature Id="ProductFeature" Title="WiXCustomActionsTesting" Level="1"></Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="WiXCustomDialog">

          <Component Feature="ProductFeature">
            <File Source="$(env.SystemRoot)\notepad.exe"></File>
          </Component>

        </Directory>
      </Directory>
    </Directory>
  </Product>

</Wix>
